@media screen and (max-width: 660px){
	/*
		FUCKING WITH THE HEADER
	*/
	#content {
		margin-top: -20px;
		padding-top: 10px;
	}
	.header  {
		width: 100%;
		border-bottom: none;
		height: 160px;
	}
	.wrapper {
		width: 100%;
	}
	.header h1.branding-title {
		float: center;
		display: block;
		width: 122px;
		height: 90px;
		margin: 5px auto;
		padding: 0;
	}
	.header h1.branding-title a{
		height: 100%;
	}
	.header .nav {
		clear: left;
		float: left;
		max-width: 100%;
		padding: 0;
		width: 100%;
		left: 0;
		height: 60px;
		background: #f16702;
	}

	.header .nav li {
		position: relative;
		float: center;
		width: 20%;
		margin: 0;
		height: 60px;
		padding-right: 5%;
	}
	.header .nav li a {
		display: inline-block;
		padding: 0px;
		width: 100%;	
		margin-left: 0%;
		text-align: center;
		height: 100%;
	}

	.header .nav li.cart{
		margin-left: 0;
		border: none;
		padding-right: 0%;
		width: 20%;
	}

	.header .nav li.cart a{
		background-image: none;
		width: 100%;
		color: #fff;
	}
	.header .nav li.cart a:hover {color: #FFE200;}
	/*
		MAIN BODY
	*/

	.section.banner{
		height: 0;
	}
	.section.banner .wrapper {
		display: none;
	}
	.section.shirts ul.products{
		height: 650px;
		width: 100%;
		float: center;
	}

	.section.shirts ul.products li {
		left: 0;
		float: center;
		width: 41%;
		margin-left: 2%;
		
	}
	.section.shirts ul.products li a {
		left: 0;
		width: 100%;
		margin: 0;
	}
	.header .nav li.shirts a {background: none;}
	.header .nav li.contact a {background: none;}
	.wrapper h1, .section.page p {
		width: 90%;
		margin: 10px 5%;
		text-align: center;
	}
	form, form table{
		width: 80%;
		margin: 10px auto;
	}
	form input[type="submit"] {
		width: 80%;
		margin: 10px 10%;
		padding: 20px;
	}


}
@media screen and (max-width: 530px){
	
	.header .nav li.cart {
		
		position: relative;
		float: center;
		width: 19%;
		margin:0;
		height: 100%;
		padding-right: 3%;
	}

	.section.shirts ul.products{
		height: 1300px;
		width: 100%;
		display: inline-block;
	}
	.section.shirts ul.products li {
		width: 70%;
		left: 0;
		float: left;
		margin-right: 10%;
		margin-left: 10%;
	}
	.wrapper h1, .section.page p {
		width: 90%;
		margin: 10px 5%;
		text-align: center;
	}
	form, form table{
		width: 96%;
		margin: 10px 2%;
	}
	form input[type="submit"] {
		margin: 10px auto;
		width: 100%;
		padding: 20px;
	}
}


