@media screen and (min-width: 661px){
	/* 
	Fixing Default settings in
	main desktop display
	*/
	body {
		width: 100%;
	}

	.wrapper{
		width: 100%;
	}

	.header .nav {
		width: 500px;
	}
	.header .nav li {
		float: right;
		width: 140px;
	}

	.header .nav li.cart{
		margin-left: 0px;
	}

	.footer {
		float: left;
		padding-left: 50px;
	}

	.footer p {
		margin-top: 10px;
		text-align: left;
		width: 200px;
		margin-left: 4px;
	}
}

@media screen and (max-width: 660px){
	/*
		FUCKING WITH THE HEADER
	*/
	#content {
		margin-top: -20px;
		padding-top: 10px;
		}
	.header  {
		width: 100%;
		border-bottom: none;
		height: 160px;
	}
	.wrapper {
		width: 100%;
		height: inherit;
	}
	.header h1.branding-title {
		float: center;
		display: block;
		width: 122px;
		height: 90px;
		margin: 5px auto;
		padding: 0;
	}
	.header h1.branding-title a{
		height: 100%;
	}
	.header .nav {
		float: left;
		max-width: 100%;
		padding: 0;
		width: 100%;
		left: 0;
		height: 60px;
		background: #f16702;
	}

	.header .nav li {
		position: relative;
		float: center;
		width: 30%;
		margin: 0;
		height: 60px;
		padding-right: 3%;
	}
	.header .nav li a {
		display: inline-block;
		float: center;
		padding: 0px;
		width: 100%;	
		text-align: center;
		height: 60px;
		line-height: 60px;
		margin: auto 0;
	}

	.header .nav li.cart{
		margin-left: 0;
		border: none;
		padding-right: 0%;
		width: 31%;
	}

	.header .nav li.cart a{
		background-image: none;
		width: 100%;
		color: #fff;
	}
	.header .nav li.cart a:hover {color: #FFE200;}
	/*
		MAIN BODY
	*/

	.section {
		height: auto;
	}

	.section.banner{
		height: 0;
	}
	.section.banner .wrapper {
		display: none;
	}

	.section.shirts ul.products{
		width: 100%;
	}

	.section.shirts.latest {
		padding:34px 0;	
	}

	.section.shirts.latest h1{
		margin-bottom: 30px;
	}
	.section.shirts ul.products li {
		left: 0;
		float: center;
		width: 41%;
		margin-left: 2%;
		
	}
	.section.shirts ul.products li a {
		left: 0;
		width: 100%;
		margin: 0;
	}

	.section.shirt.page .wrapper {
		width: 100%;
	}

	.section .breadcrumb {
		margin-left: 20px;
		width: 160px;
		margin-right: 0;
		display: inline-block;
		}

	.shirt-picture{
		display: block;
		float: center;
		width: auto;
		margin: 0 10%;
	}

	.shirt-details{
		width: 80%;
		margin: 0 10%;
	}
	.shirt-details h1{
		text-align: center;
	}

	.header .nav li.shirts a {background: none;}
	.header .nav li.contact a {background: none;}
	.wrapper h1, .section.page p {
		width: 90%;
		margin: 10px 5%;
		text-align: center;
	}
	form, form table{
		width: 80%;
		margin: 10px auto;
	}
	form input[type="submit"] {
		width: 80%;
		margin: 10px 10%;
		padding: 20px;
	}
	.footer{
		display: block;
	}

}
@media screen and (max-width: 530px){
	
	.header .nav li.cart {
		
		position: relative;
		float: center;
		width: 30%;
		margin:0;
		height: 100%;
		padding-right: 0%;
	}
	
	.section{
		width: 100%;
		float: center;
	}

	.section .wrapper{
		width: 100%;
	}

	.section.shirts ul.products{
		width: 100%;
		display: inline-block;
	}
	.section.shirts ul.products li {
		display: block;
		width: 280px;
		float: center;
		margin: 0 auto 10px;

	}
	.wrapper h1, .section.page p {
		width: 90%;
		margin: 10px 5%;
		text-align: center;
	}
	form, form table{
		width: 96%;
		margin: 10px 2%;
	}
	form input[type="submit"] {
		margin: 10px auto;
		width: 100%;
		padding: 20px;
	}
}


