RewriteEngine On
RewriteRule ^shirts/$ /treehousephp/shirts/shirts.php
RewriteRule ^shirts/([0-9]+)/$ /treehousephp/shirts/shirt.php?id=$1
RewriteRule ^contact/$ /treehousephp/contact/contact.php
RewriteRule ^receipt/$ /treehousephp/receipt/receipt.php
RewriteRule ^receipt.php$ /treehousephp/receipt/ [R=301]
RewriteRule ^contact.php$ /treehousephp/contact/ [R=301]
RewriteRule ^shirts.php$ /treehousephp/shirts/ [R=301]
RewriteRule ^(shirts/[0-9]+)$ /treehousephp/shirt/$1/ [R=301]

Rewriterule ^contact/thanks$ /treehousephp/contact/contact.php
Rewriterule ^contact/thanks?name=([\w])$ /treehousephp/contact/contact.php?name=$1

Rewriterule ^shirts/page=([0-9])$ /treehousephp/shirts/shirts.php?page=$1;


RewriteRule ^search/$ /treehousephp/search/search.php

RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^shirt.php$ /treehousephp/shirts/%1/? [R=301]
